body {
	padding-top: 60px;
}
img {
	max-width: none;
}
.about, .contact {
	padding: 60px;
	margin-bottom: 30px;
	background-color: #eeeeee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.about p, .contact p,
.about span, .contact span {
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
}
.about li, .contact li {
	list-style: none;
}


#map_visible {
	width:940px;
	height:400px;
	margin:auto;
	background-color: #000;
	text-align: center;
	overflow: hidden;
	position: relative;
}
#map_visible table {
	position: absolute;
	margin-left: -33%;
	left: 50%;
	height: 200px;
	top: -5%;
}

#map_inline {
  width: 900px;
  height: 500px;
  margin:auto;
  background-color: #000;
}
.modal {
	width: 900px;
	margin: 0;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.modal-body {
	padding: 0px;
	max-height: none;
	overflow: hidden;
}
.modal.fade {
	-webkit-transition: opacity .2s linear, none;
	-moz-transition: opacity .2s linear, none;
	-ms-transition: opacity .2s linear, none;
	-o-transition: opacity .2s linear, none;
	transition: opacity .2s linear, none;
	top: 50%;
}
.modal .close {
	background: transparent url('../img/closeButton.png') no-repeat;
	position: fixed;
	width: 20px;
	height: 20px;
	z-index: 9999;
	top: 0;
	right: 0;
	opacity: 1;
}
.desctop {
	display: none;
}
